.borderpane{
	-fx-background-image: url("/images/outerSpace.jpg");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.title{
	-fx-font-size: 30px;
	-fx-fill: white;
}

.sideTitle{
	-fx-font-size: 25px;
	-fx-fill: white;
}

.dealButton{
	-fx-font-size: 30px;
	-fx-text-fill: MediumBlue;
	-fx-font-weight: bold;
	-fx-background-color: black;
	-fx-border-color: MediumBlue;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.playButton{
	-fx-font-size: 30px;
	-fx-text-fill: lime;
	-fx-font-weight: bold;
	-fx-background-color: black;
	-fx-border-color: lime;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.foldButton{
	-fx-font-size: 30px;
	-fx-text-fill: yellow;
	-fx-font-weight: bold;
	-fx-background-color: black;
	-fx-border-color: yellow;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.rect{
	-fx-fill: black;
	-fx-stroke: cyan;
	-fx-stroke-width: 3;
}

.card1{
	-fx-background-image: url(""); +
	-fx-background-size: cover; +
	-fx-background-repeat: no-repeat; +
	-fx-border-color: Cyan; +
	-fx-border-width: 2;
}

.circ{
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, Red, Orange);
	-fx-stroke: PapayaWhip;
	-fx-stroke-width: 3;
	
}

.listView{
	-fx-backgroundcolor: cyan;
	-fx-border-color: cyan;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-padding: 5;
}








