.borderpane{
	-fx-background-image: url("/images/tiles.jpg");
	-fx-background-size: cover;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

.card{
	-fx-border-color: SlateBlue;
	-fx-border-width: 2;
}



.title{
	-fx-font-size: 30px;
	-fx-fill: white;
}

.title1{
	-fx-font-size: 40px;
	-fx-fill: white;
}

.sideTitle{
	-fx-font-size: 25px;
	-fx-fill: white;
}

.dealButton{
	-fx-font-size: 30px;
	-fx-text-fill: MediumBlue;
	-fx-font-weight: bold;
	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-border-color: MediumBlue;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.playButton{
	-fx-font-size: 30px;
	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-text-fill: lime;
	-fx-font-weight: bold;
	-fx-border-color: lime;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.playButton1{
	-fx-font-size: 25px;
	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-text-fill: Lime;
	-fx-font-weight: bold;
	-fx-border-color: Lime;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 175;
}

.foldButton{
	-fx-font-size: 30px;
	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-text-fill: yellow;
	-fx-font-weight: bold;
	-fx-border-color: yellow;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 100;
}

.welcomeButton{
	-fx-font-size: 25px;
	-fx-background-color: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-text-fill: Red;
	-fx-font-weight: bold;
	-fx-border-color: Red;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 175;
}

.rect{
	-fx-fill: black;
	-fx-stroke: RoyalBlue;
	-fx-stroke-width: 3;
}

.circ{
	-fx-fill: radial-gradient(center 50% 50%, radius 50%, Black, SlateBlue);
	-fx-stroke: RoyalBlue;
	-fx-stroke-width: 3;
	
}



.listView{
	-fx-backgroundcolor: RoyalBlue;
	-fx-border-color: RoyalBlue;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-padding: 5;
}




