.borderpane{
	-fx-background-color: red;
}

.title1{
	-fx-font-size: 40px;
	-fx-fill: white;
}

.rect{
	-fx-fill: Black;
	-fx-stroke: Cyan;
	-fx-stroke-width: 3;
}


.playButton1{
	-fx-font-size: 25px;
	-fx-text-fill: Lime;
	-fx-font-weight: bold;
	-fx-background-color: Black;
	-fx-border-color: Lime;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 175;
}

.welcomeButton{
	-fx-font-size: 25px;
	-fx-text-fill: Red;
	-fx-font-weight: bold;
	-fx-background-color: Black;
	-fx-border-color: Red;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-border-radius: 10;
	-fx-padding: 10;
	-fx-background-insets: 1;
	-fx-border-insets: 0;
	-fx-max-width: 175;
}

.listView{
	-fx-backgroundcolor: cyan;
	-fx-border-color: cyan;
	-fx-border-width: 3;
	-fx-background-radius: 10;
	-fx-padding: 5;
}
